.footer {
	background-color: #8F1210;
	min-height: 20%;
}

.footer .container {
	padding-top: 2%;
	padding-bottom: 2%;
}

.footer p {
	color: #fee252;
	text-align: center;
	font-size: 0.9em;
}

.footer a {
	color: #ffffff;
	font-size: 0.9em;
}

.footer a:hover {
	color: yellow;
}