.home {
	background-color: #8f1210;
	min-height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0%;
	background-attachment: fixed;
}

.home .container {
	position: relative;
	margin-top: -5%;
	
	/*width: 70%;*/
	/*padding-bottom: 5%;*/

	/*background-color: #ffffff;*/
	opacity: 1;
}

.home .container img {
	display: block;
	margin: auto;
	
	height: 80%;
	width: 100%;

	margin-top: 20%;
	/*margin-bottom: 5%;*/
}

.home h1 {
	color: #ffffff;
	font-size: 1.2em;
	
	letter-spacing: 0.4em;

	/*border-bottom: 5px dashed #000;
	border-color: #ffffff;
	padding-bottom: 1.5%;*/

	/*margin-top: -2%;*/
	margin-bottom: 10%;
	text-align: center;
}

.green-text {
	color: #94C700;
	font-size: 1.2em;
}

.bottles .container {
	margin-top: 5%;
	margin-bottom: 15%;
}

.bottles .container img {
	height: 50%;
	width: 60%;
	display: block;
}

.bottles .container .secondary .jeera-img {
	height: 52%;
	width: 62%;
}


#contact {
	margin-top: 40%;
	padding-bottom: 5%;
	text-align: center;
}

#contact .fa-paper-plane-o {
	font-size: 1em;
	margin-right: 1em;
}

#contact > a {
	color: #94C700;
	font-size: 0.7em;
}

.home .btn-default {
	color: #ffffff;
	background-color: transparent;
	font-size: 1.2em;
}
.home .btn-default:hover {
	background-color: #5a5aad;
}
